  <header>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/bag">Bag</a>
        <a href="/shoes">Shoes</a>
        <a href="/views/users/basket.ejs">Basket</a>
    </header>